@charset "UTF-8";

body {
  margin: 0;
  font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
}

.post * {
  margin: 0;
}

.post-fig01 .image {
  width: 1500px;
  height: 1000px;
}

.post-fig02 .image {
  width: 1200px;
  height: 1000px;
}